/* Importerar ett typsnitt. */
@import url("https://use.typekit.net/jva5nxp.css");

/* Variabler */
:root {
  --main-color: #dba988;
  --main-text-color: #000000;
  --main-text: futura-pt, sans-serif;
  --main-heading: futura-pt, sans-serif;
}

h1 {
  font-family: var(--main-heading);
  font-size: 64px;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 180px;
  font-weight: 600;
  font-style: normal;
  color: var(--main-text-color);
}

header {
  height: 180px;
}

#wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}

body {
  background-color: var(--main-color);
}

#convertBox form textarea {
  width: calc(70% - 20px);
  height: 300px;
  display: block;
  margin: 0 auto;
  resize: none;
  padding: 10px;
  font-size: 1em;
}

#convertBox form .btn {
  background-color: var(--main-text-color);
  color: white;
  border: none;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  width: 70%;
  font-family: var(--main-text);
  font-size: 1.3em;
}
